<div class="all-about">
        <div class="about-first ">
            <div class="about-details slide-in-left">
                <img src="./assets/portFolio.png" alt="">
                <div class="container-fluid job-details">
                    <p><strong>Job Role : </strong> Frontend Developer</p>
                    <p><strong>Intermediate : </strong> Angular, Node.js </p>
                    <p><strong>Address : </strong> Raipur, India</p>
                </div>
            </div>
            <div class="all-mat slide-in-left">
                <h5 class="container-fluid">Skills</h5>
                <p>Angular 60%</p>
                <mat-progress-bar class="mat" mode="determinate" value="60"></mat-progress-bar>
                <p>Node.js 60%</p>
                <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
                <p>html 75%</p>
                <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
                <p>CSS 70%</p>
                <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                <p>JavaScript 60%</p>
                <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>

            </div>
        </div>


        <div class="about-second">
            <div class="about-me">
                <div class="summary">
                    <h1 class="slide-in-right ">About Me</h1>
                    <p class="slide-in-right">I  completed my Master of Computer Application from Pandit Ravishankar Shukla University Raipur.
                         During this time, I learned  front-end designing on Angular Node.js and 
                         am Right now I'm learning to be stronger on the front end with the help
                          of HTML, CSS, Bootstrap and JavaScript, including git and gitHub.
                          Intermediate in Responsive Design , User Friendly,
                        Web Design. im looking platform for perform my Skills.
                    </p>
                </div>

                <div class="pro-details slide-in-right">
                    <p> <b>Profile : </b>Frontend Developr</p>
                    <p> <b>Education : </b> Master of Computer Application</p>
                    <p> <b>Language : </b>English, Hindi</p>
                    <p><b>Tools : </b>Visual Studio</p>
                    <p><b>Other Skills : </b>Excel, Git, Angular Material</p>
                    <p><b>Interest : </b>Traveling, Travel Photography, </p>

                </div>

            </div>

        </div>
</div>