<div class="all-about">
        <div class="about-first">
            <div class="about-details">
                <img src="./assets/portFolio.png" alt="">
                <div class="container-fluid job-details">
                    <p><strong>Job Role : </strong> Frontend Developer</p>
                    <p><strong>Experience : </strong> 6 Months</p>
                    <p><strong>Address : </strong> Raipur, India</p>
                </div>
            </div>
            <div class="all-mat">
                <h5 class="container-fluid">Skills</h5>
                <p>Angular 65%</p>
                <mat-progress-bar class="mat" mode="determinate" value="65"></mat-progress-bar>
                <p>Node.js 65%</p>
                <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
                <p>html 80%</p>
                <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                <p>CSS 70%</p>
                <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                <p>JavaScript 60%</p>
                <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>

            </div>
        </div>


        <div class="about-second">
            <div class="about-me">
                <div class="summary">
                    <h1 class="container">about me</h1>
                    <p>With over 5 years of comprehensive experience in the field of data science & analytics,
                        accompanied
                        by a bachelor's degree in engineering. Proficient in data analysis, statistical analysis,
                        hypothesis testing, customer behaviour analysis, & machine learning. Demonstrated success in
                        leading impactful projects and providing effective mentorship.
                    </p>
                </div>

                <div class="pro-details">
                    <p> <b>Profile : </b>Data Science & Analytics</p>
                    <p><b>Domain : </b>Retail, Ecommerce, BFSI & Digital Marketing</p>
                    <p> <b>Education : </b> Bachelor of Engineering</p>
                    <p> <b>Language : </b>English, Hindi</p>
                    <p><b>BI Tools : </b>Microsoft Power BI, Looker & Tableau</p>
                    <p><b>Other Skills : </b>Cloud, PySpark, Excel, Git, JIRA, Google Analytics & SEO</p>
                    <p><b>Interest : </b>Traveling, Travel Photography, Teaching</p>

                </div>

            </div>

        </div>
</div>