<div class="contact">
    <div class="contact-info">
        <div class="container connect-me ">
            <h1 class="blink">Connect Me</h1>
            <p>Below are the details to reach out to me!</p>
        </div>
    </div>
    <div class="connect-link">
        <div class="connect-sym">
            <div class="slide-from-bottom">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                <h6>Address</h6>
                <p> Raipur, India </p>
            </div>
            <div class="slide-from-bottom">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings_phone "></mat-icon>
                <h6>Contact Number</h6>
                <p>+ 91 9691917310</p>
            </div>
            <div class="slide-from-top">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="email"></mat-icon>
                <h6>Email Address</h6>
                <p>{{gmail}}</p>
            </div>
            <div class="slide-from-top">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="notes"></mat-icon>
                <h6>Download Resume</h6>
                <a routerLink=""><p>resumelink</p></a>
            </div>

        </div>
        <div class="msg">
            <span class="text">Find me on</span>
            <div class="find-me">
            <a href="https://www.linkedin.com/in/shailendra-verma-7515172b2?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
            <i class='bx bxl-linkedin-square'></i></a>
            <a href="https://github.com/Shailendra900"><i class='bx bxl-github'></i></a>
            <i class='bx bxl-facebook-square'></i>
            <i class='bx bxl-instagram-alt'></i>

            </div>

        </div>


    </div>

</div>